:root {
  --text: #fff;
  --text-w: #dcdcdc;
  --text-h: #08060d;
  --text-o: #a09fb2;
  --text-ob: #a09fb26c;

  --bg: #02012b;
  --bg-second: #272441;
  --bg-input: #2e324f;
  --bg-button: #4657d9;
  --bg-hover: #404ca6;
  --border: #e5e4e7;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  color-scheme: light dark;
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #fff;
    --text-h: #f3f4f6;
    --bg: #02012b;
    --bg-second: #272441;
    --border: #2e303a;
    }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
} */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.container {
  width: 90%;
}

/* ====== NAV ====== */

nav {
  box-sizing: border-box;
  padding: 1em;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-size: 1rem;
  font-weight: 200;
}

.settings__btn {
  font-weight: 200;
  color: var(--text);
  width: 20%;
  background-color: var(--bg-second);
  padding: .5em;
  border: none;
  border-radius: .5em;
}

/* ===== HEADER ===== */

header {
  position: relative;
  box-sizing: border-box;
  line-height: 1.05;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header p {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
}

.search__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.loading {
  position: absolute;
  bottom: 0;
  font-size: 1em;
  color: var(--text-o);
}

.search {
  height: 3rem;
  margin-bottom: 1em;
  border-radius: .8rem;
  border: none;
}

.search__input {
  text-transform: capitalize;
  font-size: 1em;
  padding-left: 1rem;
  color: var(--text);
  background-color: var(--bg-input);
  font-weight: 400;
  transition: all .15s ease;
}
.search__input::placeholder {
  transition: all .15s ease;
  color: var(--text-o);
}
.search__input:hover {
  background-color: var(--bg-second);
}
.search__input:hover::placeholder {
  color: var(--text-ob);
}

.search__btn {
  background-color: var(--bg-button);
  border: none;
  border-radius: .5rem;
  transition: all .3s ease;
}
.search__btn:hover {
  color: var(--text-o);
  background-color: var(--bg-hover);
  cursor: pointer;
}

/* ===== MAIN SECTION ===== */

main {
  margin-bottom: 1em;
}

.weatherScreen__container {
  margin: 2em 0;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 1em;
}

.mainWeather {
  box-sizing: border-box;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  background-image: url(./assets/bg-today-small.svg);
  background-size: cover;
  background-position: center ;
  background-color: var(--bg-button);
  color: var(--text);
  border-radius: 1.5rem;

  height: 17rem;

  padding: 1em;
}

.mainWeatherInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainWeatherTitle {
  text-align: center;
  line-height: 1.2;
  margin: 0;
  padding: 0;  
}

.mainWeatherDate {
  padding: 0;

  color: var(--text-w);
}

.mainWeatherTemperature {
  margin: 2rem;

  font-size: 5rem;
  font-weight: 600;
}


/* ===== MAIN SPECS ===== */

.specsWeather__container {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1em;
}

.spec {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  
  
  margin: 0;
  padding: 0 1em;
  width: 100%;

  background-color: var(--bg-input);
  border-radius: 1rem;
  color: var(--text-o);
}

.specValue {
  color: var(--text);
  font-size: 2rem;
  font-weight: 300;
}

.specTitle {
  margin-bottom: 0;
}


/* ===== BREAKPOINTS ===== */

@media (min-width: 480px) {

  .search__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .search__input {
    width: 80%;
  }

  .search__btn {
    width: 15%;
  }
  
}

@media (min-width: 768px) {

  .container { width: 80%; }

  header {
    max-width: 70%;
  }

  header p{
    margin-top: .5em;
  }
  
  .weatherScreen__container {
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr;
  }

  .mainWeather {
    margin-top: 0;
    height: 100%;
    grid-column: span 1;
    padding: 0 3rem;

    border-radius: 1rem;
  }

  .specsWeather__container {
    grid-template-columns: 1fr;
    grid-column: span 1;
  }


  .mainWeatherTitle {
    font-size: 3rem;
  }

  .mainWeatherDate {
    font-size: 1rem;
  }

  .mainWeatherTemperature {
    font-size: 6rem;
  }


}